<div class="espaciofooter">

</div>
 <footer class="footer navbar-fixed-bottom bg-dark ">
  <div id="footer" class="  text-center  ">
        <div class="container ">
            <div class="row">
                <div class="col l6 s12 my-5">
                    <h5 class="text-white">Ubicanos en Peñalolen</h5>
                        <p class=" text-success text-lighten-4">Avenida Tobalaba #13677 </p>
                        <p class="text-success">Avenida Grecias #7345 </p>

                </div>
                <div class="col l4 offset-l2 s12 my-5" style="font-size: 30px">
                    <h5 class="text-white">Redes Sociales</h5>
                <ul>
                    <a class="grey-text text-lighten-3" href="https://www.facebook.com/hazukisushi"><i class="fa fa-facebook-square fa-10x">facebook</i></a>

                    <a class=" text-lighten-3 text-danger" href="https://www.instagram.com/hazukisushi/"><i class="fa fa-instagram">Instagram</i></a>
                </div>
            </div>
            <div class="container bg-danger">
                <div class=" text-center text-white">
                  <p class=""> Todos los derechos reservados © <%= Time.now.year %> Copyright</p>

                </div>
            </div>
        </div>

    </div>
  </footer>
