/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
    @import "bootstrap";
    @import "font-awesome";

    html, body {
      /* background-image: image-url('sushisgv.svg');*/
      background-color: #fff;
      height: 100%;
      margin: 5;
      padding: 5;
      position: relative;
      min-height: 100%;
    }

    .footer {
      position: absolute;
      bottom: auto;
      /* Set the fixed height of the footer here */
      height: auto;
      width: 100%;

    }
    .espaciofooter {
      height: 300px;

    }
    .product{
      margin-left: 20px;
      margin-right: 10px;
      margin-top: auto;
      margin-bottom: auto;
    }
/* ::::::::::::::::::css de google maps:::::::::::::::::::::::::::::::::::::*/
#map {
  height: 100%;
  width: 100%;
  position: relative;
}
/* Optional: Makes the sample page fill the window. */

body {
  padding: 0 !important;
}
table {
  font-size: 12px;
}
.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  top: 15;
  width: 440px;
  z-index: 1;
}
#mapa {
  margin-top: 40px;
  width: 440px;
}
#listing {
  position: absolute;
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 442px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}
#findhotels {
  font-size: 20px;

}
#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}
#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}
#autocomplete {
  width: 100%;
}
#country {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.hotelIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
#mapa {
  margin: 5;

}

/* :::::: carouse para poner el texto encima de la imagen slider :::::::::::::: */

.carousel-content {
     position: absolute;
     bottom: 10%;
     left: 5%;
     z-index: 20;
     color: white;
     text-shadow: 0 1px 2px rgba(0,0,0,.6);

}
#fondotexto {
  background-color: rgb(0, 0, 0); /* o background-color:#000000; */
   opacity: 0.5;
   color: #ffffff;
    z-index: 10;
    margin-left: auto;
}
#carouselinicio {
 width: 100pv;
 height: 100%;
 max-height: 100%;
}
